<div class="container">
    <h2>Log In</h2>
    <hr>

    <form class="login-form" [formGroup]="loginForm"
        (ngSubmit)="login()">

        <div>
            <input type="text" id="username" placeholder="Username"
                autocomplete="off" formControlName="username"
                required>
        </div>

        <div>
            <input type="password" id="password"
                placeholder="Password"
                formControlName="password" required>
        </div>

        <div class="actions">
            <button color="primary" type="submit">Login</button>
            <div class="error-info" *ngIf="loginFailed">Bad login or
                password</div>
        </div>

    </form>
</div>