.border {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px black dotted;
}

.character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats {
    width: 100px;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.stress {
    display: flex;
    flex-direction: row;
}

.actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
}

.config {
    margin: auto;
    width: 700px;
    height: 200px;
    border: 1px solid black;
    background-color: whitesmoke;
    overflow: auto;
    padding: 1em;
}

.checks {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.checkbox {
    width: 1em;
    height: 1em;
}

.checks div {
    padding: 10px;
    border-collapse: collapse;
    border: solid 1px black;
}

textarea {
    width: 600px;
    height: 100px;
}

input {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-width: 0 0 1px 0;
    font-size: large;
    text-align: center;
}

button {
    width: 100%;
    height: 30px;
    border: 0px solid black;
    border-width: 0 0 1px 0;
}

button:hover {
    border: 1px black solid;
}

.action {
    margin-top: 5px;
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

button :hover {
    background-color: gray;
}

.name {
    border-width: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.stress-block {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 100%;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textBox textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (max-width: 650px) {
    .border {
        margin: auto;
        padding: 1rem;
        margin-top: 1rem;
        border: 1px black dotted;
    }
    .character {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .stats {
        width: 100%;
    }
    .body {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .stress {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .actions {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .config {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
        height: 400px;
        border: 1px solid black;
        background-color: whitesmoke;
        overflow: auto;
        padding: 1em;
        margin-top: 1em;
    }
    .checks {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .checks div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 80px;
        height: 80px;
        border-collapse: collapse;
        border: solid 1px black;
    }
    button {
        width: 100%;
        height: 50px;
        border: 1px solid black;
    }
    .action {
        margin-top: 5px;
        width: 100%;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
    }
}